@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    /* This ensures borders don't change the box's actual size */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1b1b1b;
}

nav {
    /* Add some space between the bar and the bar's text */
    padding: 10px 0;
    background: #1b1b1b;
    /* The bar extends to the full width of the page */
    width: 100%;
    /* The bar's layer is above other layers to remain visible */
    z-index: 12;
}

nav .menu {
    max-width: 1250px;
    /* Center elements with margin:auto*/
    margin: auto;
    /* Use flexbox to show logo and ul next to each other */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid white;
}

/* Decorate the logo */
.menu .logo {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600px;
}

.menu ul {
    /* Presents the list elements next to each other */
    display: inline-flex;
}

.menu ul li {
    list-style: none;
    margin-left: 7px;
}

/* Decorate the buttons */
.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    background: #fff;
    color: #000;
}

.introduction {
    padding: 50px;
}

.bg-image {
    background-image: url(images/img3.jpg);
    height: 80vh;
    margin: auto;
    width: 90%;
    filter: blur(10px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    /* Box Decoration */
    width: 60%;
    padding: 40px;
    background-color: #1b1b1b;
    transition: 0.3s ease;
    box-shadow: 0px 0px 5px #1b1b1b;
    /* Text Decoration */
    color: #fff;
    font-size: 20px;
    font-weight: 600px;
    text-align: center;
    /* Position text on top of background div */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.bg-text p {
    /* Add some padding between the paragraphs */
    padding: 10px;
}

.header-text {
    margin: auto;
    width: 80%;
    color: #fff;
    font-size: 35px;
    font-weight: 600px;
    padding: 0 20px;
    border-bottom: 1px solid white;
}

.links {
    margin: auto;
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links .box {
    height: 90%;
    width: 32%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    box-shadow: inset 0px 0px 20px #1b1b1b;
}

.links .box1 {
    background-image: url(images/img4.jpg);
}

.links .box2 {
    background-image: url(images/img6.jpg);
}

.links .box3 {
    background-image: url(images/img8.jpg);
}

.links .box .food-name {
    /* Put the text in the center of each box */
    display: flex;
    justify-content: center;
    align-items: center;
    /* The text space is the same as the box space */
    height: 100%;
    width: 100%;
    /* Add some background for visibility */
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.3s ease;
    box-shadow: 0px 0px 5px #1b1b1b;
    /* Text Decoration */
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600px;
    text-align: center;
    /* Make text invisible */
    opacity: 0;
}

.links .box .food-name:hover {
    backdrop-filter: blur(10px);
    opacity: 1;
}

.footer {
    height: 30vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
}