@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

:root {
    --pad: calc(12px + 1.5625vw);

    --fs-base: calc(15px + 0.390625vw);
    --fs-h1: 2rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.3rem;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    cursor: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: none;
}

body {
    font-size: var(--fs-base);
    background-color: rgb(239, 233, 229);
    overflow-x: hidden;
}

.cursor-dot {
    width: 2%;
    aspect-ratio: 1;
    background-color: yellow;
}

.cursor-outline {
    /* display: none; */
    width: 3%;
    aspect-ratio: 1;
    border: 0.1rem solid #fff
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10;
    mix-blend-mode: difference;
    pointer-events: none;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.active {
    transform: scale(1.5);
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: var(--pad);
    background-color: #1a1a1a;
    color: #fff;
    transition: transform 0.2s ease;
}

header .container h1 {
    font-size: var(--fs-h1);
}

header .container:hover {
    transform: scale(1.1);
}

main .container {
    padding-top: var(--pad);
    padding-bottom: 12%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 35vw));
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
    justify-content: center;
    justify-items: center;
}

main .container button {
    border-radius: 25%;
    width: 40%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 72, 0);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

main .container button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: rgb(249, 91, 43);
}

@media (max-width:500px) {
    main .container button {
        border-radius: 0;
        width: 100%;
        aspect-ratio: 0;
    }
}

main .hide {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1a1a1a;
    color: #fff;
    transition: transform 0.2s ease;
}

footer:hover {
    transform: scale(1.1);
}

footer .container {
    display: flex;
    justify-content: center;
}

.reset-button {
    border-radius: 25%;
    width: 20%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 72, 0);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.reset-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: rgb(249, 91, 43);
}